@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background-color: #181818;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  background-color: #5865f2;
  width: 75px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

nav.active {
  width: 250px;
}

.nav-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1.5rem;
  background-color: #3b48d3;
}

.nav-brand .nav-logo {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transform: translateY(-150%);
  transition: all 0.3s ease, transform 0.5s ease;
}

nav.active .nav-brand .nav-logo {
  transform: translateY(0%);
}

.nav-brand i {
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-brand i:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.nav-brand a:hover {
  transform: translateY(-3px);
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1rem 1.5rem;
  gap: 2rem;
}

.nav-items li.has-border {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 1rem;
}

.nav-items li {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  transform-origin: left;
}

.nav-items a,
i {
  color: white;
  cursor: pointer;
}

.nav-items a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  transform: translateX(-250%);
  transition: transform 0.5s ease;
}

nav.active .nav-items a {
  transform: translateX(5%);
}

.nav-items i {
  font-size: 25px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.nav-items a:hover {
  transform: translateX(10px);
}
